USE [master]
GO
/****** Object:  Database [farmatown3]    Script Date: 28/10/2022 20:01:28 ******/
CREATE DATABASE [farmatown3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'farmatown3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\farmatown3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'farmatown3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\farmatown3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [farmatown3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [farmatown3]
GO
/****** Object:  Table [dbo].[facturas]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturas](
	[idFactura] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[total] [decimal](10, 2) NULL,
	[tieneObraSocial] [bit] NULL,
	[dniCliente] [bigint] NULL,
	[idUsuario] [int] NULL,
	[tipoPago] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[facturasObraSocial]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[facturasObraSocial]
as
select count(idFactura) Cantidad_Con_OS, (select count(idFactura) from facturas where tieneObraSocial = 0) as Cantidad_Sin_OS from facturas where tieneObraSocial = 1
GO
/****** Object:  Table [dbo].[articulos]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articulos](
	[idArticulo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[stock] [int] NULL,
	[precioUnitario] [decimal](10, 2) NULL,
	[idTipoArticulo] [int] NULL,
	[id_droga] [int] NULL,
	[id_laboratorio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[dni] [bigint] NOT NULL,
	[nombre] [varchar](20) NULL,
	[apellido] [varchar](20) NULL,
	[telefono] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalleLotes]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalleLotes](
	[idDetalleLote] [int] IDENTITY(1,1) NOT NULL,
	[idLote] [int] NULL,
	[idArticulo] [int] NULL,
	[fechaVencimientoLote] [date] NULL,
	[cantidadComprada] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetalleLote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detallesFactura]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detallesFactura](
	[idDetalle] [int] IDENTITY(1,1) NOT NULL,
	[idFactura] [int] NULL,
	[idArticulo] [int] NULL,
	[descuento] [int] NULL,
	[montoDescontado] [decimal](10, 2) NULL,
	[subtotal] [decimal](10, 2) NULL,
	[cantidad] [int] NULL,
	[precio] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[drogas]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[drogas](
	[id_droga] [int] IDENTITY(1,1) NOT NULL,
	[nombreDroga] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_droga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[laboratorios]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[laboratorios](
	[id_laboratorio] [int] IDENTITY(1,1) NOT NULL,
	[nombreLab] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_laboratorio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lotes]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lotes](
	[idLote] [int] IDENTITY(1,1) NOT NULL,
	[fechaCompra] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idLote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tarjetas]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tarjetas](
	[nro_tarjeta] [bigint] NOT NULL,
	[cod_seguridad] [int] NULL,
	[fecha_venc] [date] NULL,
	[dni] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[nro_tarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoArticulos]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoArticulos](
	[idTipoArticulo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoPago]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoPago](
	[tipoPago] [bit] NOT NULL,
	[descripcion] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[tipoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoUsuarios]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoUsuarios](
	[idTipoUsuario] [int] NOT NULL,
	[descripcion] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](15) NULL,
	[pwd] [varchar](15) NULL,
	[nombre] [varchar](20) NULL,
	[apellido] [varchar](20) NULL,
	[idTipoUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[articulos] ON 

INSERT [dbo].[articulos] ([idArticulo], [nombre], [stock], [precioUnitario], [idTipoArticulo], [id_droga], [id_laboratorio]) VALUES (1, N'ibuprofeno 600mg 20 comp', 102, CAST(400.00 AS Decimal(10, 2)), 1, 4, 1)
INSERT [dbo].[articulos] ([idArticulo], [nombre], [stock], [precioUnitario], [idTipoArticulo], [id_droga], [id_laboratorio]) VALUES (2, N'ibuprofeno 400mg 20 comp', 100, CAST(300.00 AS Decimal(10, 2)), 1, 4, 1)
INSERT [dbo].[articulos] ([idArticulo], [nombre], [stock], [precioUnitario], [idTipoArticulo], [id_droga], [id_laboratorio]) VALUES (3, N'ibuprofeno 600mg 30 ', 100, CAST(550.00 AS Decimal(10, 2)), 1, 4, 1)
SET IDENTITY_INSERT [dbo].[articulos] OFF
GO
INSERT [dbo].[clientes] ([dni], [nombre], [apellido], [telefono]) VALUES (1212, N'prueba', N'prue', 531255)
INSERT [dbo].[clientes] ([dni], [nombre], [apellido], [telefono]) VALUES (11111, N'gas', N'gas', 435543)
INSERT [dbo].[clientes] ([dni], [nombre], [apellido], [telefono]) VALUES (123123, N'fran', N'Valenzuela', 545454)
GO
SET IDENTITY_INSERT [dbo].[detallesFactura] ON 

INSERT [dbo].[detallesFactura] ([idDetalle], [idFactura], [idArticulo], [descuento], [montoDescontado], [subtotal], [cantidad], [precio]) VALUES (15, 6, 1, 10, CAST(40.00 AS Decimal(10, 2)), CAST(360.00 AS Decimal(10, 2)), 2, CAST(200.00 AS Decimal(10, 2)))
INSERT [dbo].[detallesFactura] ([idDetalle], [idFactura], [idArticulo], [descuento], [montoDescontado], [subtotal], [cantidad], [precio]) VALUES (16, 6, 3, 15, CAST(555.00 AS Decimal(10, 2)), CAST(3145.00 AS Decimal(10, 2)), 1, CAST(3700.00 AS Decimal(10, 2)))
INSERT [dbo].[detallesFactura] ([idDetalle], [idFactura], [idArticulo], [descuento], [montoDescontado], [subtotal], [cantidad], [precio]) VALUES (22, 13, 1, 0, CAST(0.00 AS Decimal(10, 2)), CAST(600.00 AS Decimal(10, 2)), 3, CAST(200.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[detallesFactura] OFF
GO
SET IDENTITY_INSERT [dbo].[drogas] ON 

INSERT [dbo].[drogas] ([id_droga], [nombreDroga]) VALUES (1, N'Loperamida')
INSERT [dbo].[drogas] ([id_droga], [nombreDroga]) VALUES (2, N'Aspirina')
INSERT [dbo].[drogas] ([id_droga], [nombreDroga]) VALUES (3, N'Omeprazol')
SET IDENTITY_INSERT [dbo].[drogas] OFF
GO
SET IDENTITY_INSERT [dbo].[facturas] ON 

INSERT [dbo].[facturas] ([idFactura], [fecha], [total], [tieneObraSocial], [dniCliente], [idUsuario], [tipoPago]) VALUES (6, CAST(N'2022-09-30' AS Date), CAST(3505.00 AS Decimal(10, 2)), 1, 13456789, 3, 0)
INSERT [dbo].[facturas] ([idFactura], [fecha], [total], [tieneObraSocial], [dniCliente], [idUsuario], [tipoPago]) VALUES (13, CAST(N'2022-10-07' AS Date), CAST(600.00 AS Decimal(10, 2)), 0, 123123, 1, NULL)
INSERT [dbo].[facturas] ([idFactura], [fecha], [total], [tieneObraSocial], [dniCliente], [idUsuario], [tipoPago]) VALUES (14, CAST(N'2022-10-07' AS Date), CAST(1000.00 AS Decimal(10, 2)), 0, 25547845, 1, NULL)
SET IDENTITY_INSERT [dbo].[facturas] OFF
GO
SET IDENTITY_INSERT [dbo].[laboratorios] ON 

INSERT [dbo].[laboratorios] ([id_laboratorio], [nombreLab]) VALUES (1, N'Drogueria Argentina S.A.')
INSERT [dbo].[laboratorios] ([id_laboratorio], [nombreLab]) VALUES (2, N'Química Luar')
INSERT [dbo].[laboratorios] ([id_laboratorio], [nombreLab]) VALUES (3, N'Lazar')
SET IDENTITY_INSERT [dbo].[laboratorios] OFF
GO
INSERT [dbo].[tarjetas] ([nro_tarjeta], [cod_seguridad], [fecha_venc], [dni]) VALUES (10101010, 123, CAST(N'2026-10-10' AS Date), 1212)
INSERT [dbo].[tarjetas] ([nro_tarjeta], [cod_seguridad], [fecha_venc], [dni]) VALUES (125478458, 154, CAST(N'2022-10-30' AS Date), 25547845)
INSERT [dbo].[tarjetas] ([nro_tarjeta], [cod_seguridad], [fecha_venc], [dni]) VALUES (1122334455667788, 12, CAST(N'2022-10-07' AS Date), 123123)
GO
SET IDENTITY_INSERT [dbo].[tipoArticulos] ON 

INSERT [dbo].[tipoArticulos] ([idTipoArticulo], [descripcion]) VALUES (1, N'Medicamento')
INSERT [dbo].[tipoArticulos] ([idTipoArticulo], [descripcion]) VALUES (2, N'Perfumeria')
INSERT [dbo].[tipoArticulos] ([idTipoArticulo], [descripcion]) VALUES (3, N'Cosmetico')
SET IDENTITY_INSERT [dbo].[tipoArticulos] OFF
GO
INSERT [dbo].[tipoPago] ([tipoPago], [descripcion]) VALUES (0, N'efectivo')
INSERT [dbo].[tipoPago] ([tipoPago], [descripcion]) VALUES (1, N'tarjeta')
GO
INSERT [dbo].[tipoUsuarios] ([idTipoUsuario], [descripcion]) VALUES (1, N'admin')
INSERT [dbo].[tipoUsuarios] ([idTipoUsuario], [descripcion]) VALUES (2, N'vendedor')
INSERT [dbo].[tipoUsuarios] ([idTipoUsuario], [descripcion]) VALUES (3, N'gerente')
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([idUsuario], [usuario], [pwd], [nombre], [apellido], [idTipoUsuario]) VALUES (1, N'fran', N'1234', N'Francisco', N'Valenzuela', 2)
INSERT [dbo].[usuarios] ([idUsuario], [usuario], [pwd], [nombre], [apellido], [idTipoUsuario]) VALUES (2, N'roco', N'1234', N'Matias', N'Etcetera', 2)
INSERT [dbo].[usuarios] ([idUsuario], [usuario], [pwd], [nombre], [apellido], [idTipoUsuario]) VALUES (3, N'gaston', N'12345', N'Gaston', N'Guiñazu', 1)
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
ALTER TABLE [dbo].[articulos]  WITH CHECK ADD FOREIGN KEY([idTipoArticulo])
REFERENCES [dbo].[tipoArticulos] ([idTipoArticulo])
GO
ALTER TABLE [dbo].[articulos]  WITH CHECK ADD  CONSTRAINT [fk_droga] FOREIGN KEY([id_droga])
REFERENCES [dbo].[drogas] ([id_droga])
GO
ALTER TABLE [dbo].[articulos] CHECK CONSTRAINT [fk_droga]
GO
ALTER TABLE [dbo].[articulos]  WITH CHECK ADD  CONSTRAINT [fk_laboratorio] FOREIGN KEY([id_laboratorio])
REFERENCES [dbo].[laboratorios] ([id_laboratorio])
GO
ALTER TABLE [dbo].[articulos] CHECK CONSTRAINT [fk_laboratorio]
GO
ALTER TABLE [dbo].[detalleLotes]  WITH CHECK ADD FOREIGN KEY([idArticulo])
REFERENCES [dbo].[articulos] ([idArticulo])
GO
ALTER TABLE [dbo].[detalleLotes]  WITH CHECK ADD FOREIGN KEY([idLote])
REFERENCES [dbo].[lotes] ([idLote])
GO
ALTER TABLE [dbo].[detallesFactura]  WITH CHECK ADD FOREIGN KEY([idArticulo])
REFERENCES [dbo].[articulos] ([idArticulo])
GO
ALTER TABLE [dbo].[detallesFactura]  WITH CHECK ADD FOREIGN KEY([idFactura])
REFERENCES [dbo].[facturas] ([idFactura])
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD FOREIGN KEY([dniCliente])
REFERENCES [dbo].[clientes] ([dni])
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD FOREIGN KEY([tipoPago])
REFERENCES [dbo].[tipoPago] ([tipoPago])
GO
ALTER TABLE [dbo].[tarjetas]  WITH CHECK ADD FOREIGN KEY([dni])
REFERENCES [dbo].[clientes] ([dni])
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD FOREIGN KEY([idTipoUsuario])
REFERENCES [dbo].[tipoUsuarios] ([idTipoUsuario])
GO
/****** Object:  StoredProcedure [dbo].[sp_articulosVendidos]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_articulosVendidos]
@mes int
as
begin
select top 10 a.nombre as Articulo , sum(cantidad) as Cantidad_vendida, month(f2.fecha) as Mes,year(f2.fecha) as Año
from detallesFactura f join articulos a on a.idArticulo=f.idArticulo join
facturas f2 on f2.idFactura=f.idFactura
where month(f2.fecha)=@mes
group by month(f2.fecha),year(f2.fecha),a.nombre
order by Cantidad_vendida desc
end
GO
/****** Object:  StoredProcedure [dbo].[sp_clientesFrecuentes]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_clientesFrecuentes]
 as
select top 3 c.nombre+' '+c.apellido AS Nombre, count(dniCliente) as Compras_totales 
from clientes c, facturas f where c.dni = f.dniCliente group by c.nombre, c.apellido order by count(dniCliente) desc
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_ARTICULOS_COMBO_BOX]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CONSULTAR_ARTICULOS_COMBO_BOX]
AS
BEGIN
	
	SELECT idArticulo, nombre, tp.idTipoArticulo, descripcion,d.id_droga, nombreDroga, l.id_laboratorio, nombreLab,
	a.precioUnitario
	from articulos a join tipoArticulos tp on a.idTipoArticulo=tp.idTipoArticulo
	JOIN laboratorios l ON a.id_laboratorio = l.id_laboratorio
	JOIN drogas d ON a.id_droga= d.id_droga;
END	
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_ARTICULOS_COMBO_BOX_FILTRO]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CONSULTAR_ARTICULOS_COMBO_BOX_FILTRO]
@filtro varchar(20)
AS
BEGIN
	
	SELECT idArticulo, nombre, a.idTipoArticulo,descripcion,precioUnitario 
	from articulos a join tipoArticulos tp on a.idTipoArticulo=tp.idTipoArticulo
	where nombre like @filtro+'%';
END	
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_ARTICULOS_GRILLA]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CONSULTAR_ARTICULOS_GRILLA]
AS
BEGIN
	
	SELECT idArticulo, nombre, tp.idTipoArticulo, descripcion,d.id_droga, nombreDroga, l.id_laboratorio, nombreLab,
	a.precioUnitario,stock
	from articulos a join tipoArticulos tp on a.idTipoArticulo=tp.idTipoArticulo
	JOIN laboratorios l ON a.id_laboratorio = l.id_laboratorio
	JOIN drogas d ON a.id_droga= d.id_droga;
END	
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_ARTICULOS_POR_DROGA]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_CONSULTAR_ARTICULOS_POR_DROGA]
@droga nvarchar(100)
AS
BEGIN
	
	SELECT idArticulo, nombre, tp.idTipoArticulo, descripcion,d.id_droga, nombreDroga, l.id_laboratorio, nombreLab,
	a.precioUnitario,stock
	from articulos a join tipoArticulos tp on a.idTipoArticulo=tp.idTipoArticulo
	JOIN laboratorios l ON a.id_laboratorio = l.id_laboratorio
	JOIN drogas d ON a.id_droga= d.id_droga
	where nombreDroga like '%'+@droga+'%'
END	
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_ARTICULOS_POR_NOMBRE]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CONSULTAR_ARTICULOS_POR_NOMBRE]
@nombre nvarchar(100)
AS
BEGIN
	
	SELECT idArticulo, nombre, tp.idTipoArticulo, descripcion,d.id_droga, nombreDroga, l.id_laboratorio, nombreLab,
	a.precioUnitario,stock
	from articulos a join tipoArticulos tp on a.idTipoArticulo=tp.idTipoArticulo
	JOIN laboratorios l ON a.id_laboratorio = l.id_laboratorio
	JOIN drogas d ON a.id_droga= d.id_droga
	where nombre like '%'+@nombre+'%'
END	
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_CLIENTES]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_CONSULTAR_CLIENTES]
AS
BEGIN
	
	select nombre,apellido,dni,telefono from clientes
END	
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_CLIENTES_CON_TARJETA]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CONSULTAR_CLIENTES_CON_TARJETA]
AS
BEGIN	
select nombre,apellido,c.dni,telefono, nro_tarjeta,cod_seguridad, fecha_venc from clientes c LEFT JOIN tarjetas t ON c.dni = t.dni
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_CLIENTES_POR_DNI]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CONSULTAR_CLIENTES_POR_DNI]
@DNI bigint
AS
BEGIN
	
	select nombre,apellido,dni,telefono from clientes
	where dni = @DNI
END	
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_DETALLES_POR_ID_FACTURA]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_CONSULTAR_DETALLES_POR_ID_FACTURA]
@idFactura int
as
begin
select idDetalle, a.nombre, cantidad,df.precio,montoDescontado,subtotal 
from detallesFactura df 
join articulos a on df.idArticulo=a.idArticulo
where idFactura=@idFactura 
end

GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_DROGAS_COMBO_BOX_ARTICULOS]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CONSULTAR_DROGAS_COMBO_BOX_ARTICULOS]
AS
BEGIN	
	SELECT * FROM drogas;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_FACTURA_POR_FECHA]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_CONSULTAR_FACTURA_POR_FECHA]
@fechaDesde datetime,
@fechaHasta datetime
as
begin
SELECT idFactura, c.apellido + ' ' +c.nombre 'Cliente', fecha, total 
from facturas f join clientes c on f.dniCliente=c.dni
where f.fecha between @fechaDesde and @fechaHasta
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_FACTURAS]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CONSULTAR_FACTURAS]
AS
BEGIN
	SELECT idFactura, c.apellido + ' ' +c.nombre 'Nombre', fecha, total, p.descripcion
	from facturas f join clientes c on f.dniCliente=c.dni join tipoPago p on p.tipoPago=f.tipoPago
END	
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_LABORATORIOS_COMBO_BOX_ARTICULOS]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CONSULTAR_LABORATORIOS_COMBO_BOX_ARTICULOS]
AS
BEGIN	
	SELECT * FROM laboratorios;
END	
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_STOCK]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_CONSULTAR_STOCK]
@idArticulo int,
@stock int OUTPUT
as
begin
set @stock = (select stock from articulos where idArticulo=@idArticulo)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_TIPO_ARTICULOS_COMBO_BOX]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_CONSULTAR_TIPO_ARTICULOS_COMBO_BOX]
as
begin
	select * from tipoArticulos
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_TIPOS_USUARIO_COMBO_BOX]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_CONSULTAR_TIPOS_USUARIO_COMBO_BOX]
AS
BEGIN
	select * from  tipoUsuarios 
END	 
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_USUARIOS_GRILLA]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_CONSULTAR_USUARIOS_GRILLA]
as
begin
select idUsuario,nombre,apellido,tu.descripcion 
from usuarios u join tipoUsuarios tu on u.idTipoUsuario=tu.idTipoUsuario
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CREAR_USUARIO]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_CREAR_USUARIO]
@nombreReal nvarchar(20),
@apellido nvarchar(20),
@username nvarchar(20),
@password nvarchar(20),
@tipoUsuario int
as
begin
insert into usuarios(usuario,pwd,nombre,apellido,idTipoUsuario)
values(@username,@password,@nombreReal,@apellido,@tipoUsuario)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_DETALLE]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ELIMINAR_DETALLE]
@idDetalle int
as
begin
delete from detallesFactura 
where idDetalle=@idDetalle
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_DETALLES]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ELIMINAR_DETALLES]
@idDetalle int
as
begin
delete from detallesFactura
where idDetalle=@idDetalle
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_FACTURA]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure[dbo].[SP_ELIMINAR_FACTURA]
@idFactura int
as
begin
delete from detallesFactura
where idFactura=@idFactura

delete from facturas
where idFactura=@idFactura
end
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_ARTICULO]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_INSERTAR_ARTICULO]
@nombreArticulo varchar(20),
@stock int,
@precio decimal(10,2),
@tipoArticulo int
as
begin
insert into articulos(nombre,stock,precioUnitario,idTipoArticulo)
values (@nombreArticulo,@stock,@precio,@tipoArticulo)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_CLIENTE]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_INSERTAR_CLIENTE]
@DNI bigint,
@nom_cliente nvarchar(20),
@ape_cliente nvarchar(20),
@telefono bigint
as
begin
insert into CLIENTES(DNI,nombre,apellido,telefono)
values (@DNI,@nom_cliente,@ape_cliente,@telefono)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_DETALLE_FACTURA]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_INSERTAR_DETALLE_FACTURA] 
	@idFactura int,
	@idArticulo int,
	@cantidad int,
	@descuento int,
	@montoDescontado decimal(10,2),
	@subtotal decimal(10,2),
	@precio decimal(10,2)
AS
BEGIN
	INSERT INTO detallesFactura(idFactura, idArticulo, cantidad, descuento, montoDescontado, subtotal,precio)
    VALUES (@idFactura, @idArticulo, @cantidad, @descuento, @montoDescontado, @subtotal,@precio);
  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_MAESTRO_FACTURA]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_MAESTRO_FACTURA] 
	@total money,
	@tieneObraSocial bit,
	@dniCliente bigint,
	@idUsuario int,
	@tipoPago bit,
    @idFactura int output
	
AS
BEGIN
	INSERT INTO FACTURAS(fecha, total, tieneObraSocial, dniCliente,idUsuario, tipoPago)
    VALUES (GETDATE(), @total, @tieneObraSocial, @dniCliente, @idUsuario, @tipoPago);	
    set @idFactura = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_TARJETA]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_INSERTAR_TARJETA]
@nro_tarjeta bigint,
@cod_seguridad int,
@fecha_venc date,
@dni bigint
as
begin
insert into TARJETAS(nro_tarjeta,cod_seguridad,fecha_venc,dni)
values (@nro_tarjeta,@cod_seguridad,@fecha_venc,@dni)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_MODIFICAR_ARTICULO]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_MODIFICAR_ARTICULO]
@idArticulo int,
@nombre varchar(20),
@stock int,
@precio decimal(10,2),
@idTipoArticulo int,
@idDroga int,
@idLaboratorio int
as
begin
update articulos 
set nombre=@nombre, stock=@stock, precioUnitario=@precio, idTipoArticulo=@idTipoArticulo, id_droga=@idDroga, id_laboratorio=@idLaboratorio
WHERE idArticulo = @idArticulo
end
GO
/****** Object:  StoredProcedure [dbo].[SP_MODIFICAR_CLIENTE]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_MODIFICAR_CLIENTE]
@DNI bigint,
@nombreCliente varchar(20),
@apellidoCliente varchar(20),
@telefono bigint
as
begin
update clientes 
set nombre=@nombreCliente, apellido=@apellidoCliente, telefono=@telefono
WHERE dni = @DNI
end
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENER_DATOS_USUARIO]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_OBTENER_DATOS_USUARIO]
@usuario nvarchar(20),
@contraseña nvarchar(20), 
@idUsuario int OUTPUT,
@nombre varchar(20) OUTPUT,
@apellido varchar(20) OUTPUT,
@tipoUsuario int OUTPUT
as
begin
Select usuario, pwd from usuarios 
where usuario=@usuario and pwd=@contraseña
set @idUsuario = (select max(idUsuario) from usuarios where usuario=@usuario and pwd=@contraseña)
set @nombre = (select nombre from usuarios where usuario=@usuario and pwd=@contraseña)
set @apellido = (select apellido from usuarios where usuario=@usuario and pwd=@contraseña)
set @tipoUsuario = (select idTipoUsuario from usuarios where usuario=@usuario and pwd=@contraseña)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_PROXIMA_FACTURA]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_PROXIMA_FACTURA]
@next int OUTPUT
AS
BEGIN
	SET @next = (SELECT MAX(idFactura)+1  FROM FACTURAS);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_VERIFICAR_LOGIN]    Script Date: 28/10/2022 20:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_VERIFICAR_LOGIN]
@usuario nvarchar(20),
@contraseña nvarchar(20)
as
begin
Select usuario, pwd from usuarios 
where usuario=@usuario and pwd=@contraseña
end

GO
USE [master]
GO
